.stories {
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  background-color: var(--color-block-bg-quaternary);
  display: flex;
  flex-direction: column;
}

.stories-wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding: 60px 95px;
  border-radius: 20px;
  max-height: 448px;
  background-color: #ffffff;
}

.stories__header {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 46px;
  padding-left: 12%;
  box-sizing: border-box;
}

.slide__img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.slide__wrap {
  width: 760px;
  min-height: 232px;
  padding-left: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 76px;
  box-sizing: border-box;
}

.slide__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 5px;
}

.slide__role {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #8e8e8e;
  margin-bottom: 5px;
  max-width: 255px;
}

.slide__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
  max-width: 920px;
}

.slider {
  width: 100%;
  height: 448px;
  position: relative;
}

.next {
  position: absolute;
  width: 26px;
  height: 45px;
  bottom: 140px;
  left: 112px;
  background-image: url(../../images/next.svg);
}

.prev {
  position: absolute;
  width: 26px;
  height: 45px;
  bottom: 140px;
  left: 8px;
  background-image: url(../../images/prev.svg);
  margin-left: 10px;
  cursor: pointer;
}

.prev,
.next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.prev:hover,
.next:hover {
  opacity: 0.8;
}

.slide {
  width: 950px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .slider__pag {
    width: 50px;
    height: 3px;
    background-color: var(--color-text-tertiary);
    border-radius: 0;
  }
  .slider__pag_active {
    background-color: var(--color-text-title);
  }


  .prev,
  .next {
    display: none;
  }
  .slide {
    width: 271px;
    height: 471px;
    /* padding: 35px 0; */
    align-items: center;
    justify-content: space-around;
  }
  .card {
    width: 271px;
    height: 334px;
    padding: 35px 15px;
    align-items: center;
    justify-content: space-around;
  }
  .slide__text {
    font-size: 23px;
    line-height: 27px;
    letter-spacing: -0.02em;
    max-width: 290px;
    margin-top: 8px;
  }
.swiper-slide-active {
  width: 334px;
}

  .slide__name {
    font-size: 14px;
    line-height: 16px;
  }

  .slide__role {
    font-size: 14px;
    line-height: 16px;
    max-width: 166px;
  }

  .slide__img {
    width: 68px;
    height: 68px;
  }

  .stories-wrap {
    height: 471px;
    width: 320px;
    padding: 0;
  }

  .slider {
    height: 511px;
    width: 297px;
  }

  .stories__header {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    max-width: 285px;
  }

  .slide__wrap {
    width: 334px;
    min-height: 68px;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 25px 0 35px;
  }

  /* .swiper-pagination {
    position: absolute;
    right: 44px;
    width: auto !important;
    left: auto !important;
    margin: 0;
    display: block;
  }
  .swiper-pagination-bullet {
    border-radius: 0 !important;
    width: 38px !important;
    height: 3px !important;
    text-align: center;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--color-block-bg-tertiary);
  } */
}

@media screen and (min-width: 575px) and (max-width: 1110px) {
  .stories-wrap {
    max-width: 775px;
    min-height: 550px;
  }

  .slider {
    height: 100%;
  }

  .slide__wrap {
    padding-bottom: 0;
  }

  .swiper-pagination {
    display: none;
  }
}

@media screen and (min-width: 1110px) and (max-width: 11100px) {
  .swiper-pagination {
    display: none;
  }
}

