.stories {
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  background-color: var(--color-block-bg-quaternary);
  display: flex;
  flex-direction: column;
}

.stories-wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding: 60px 95px;
  border-radius: 20px;
  max-height: 448px;
  background-color: #ffffff;
}

.stories__header {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 46px;
  padding-left: 12%;
  box-sizing: border-box;
}

.slide__img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.slide__wrap {
  width: 760px;
  min-height: 232px;
  padding-left: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 76px;
  box-sizing: border-box;
}

.slide__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 5px;
}

.slide__role {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #8e8e8e;
  margin-bottom: 5px;
  max-width: 255px;
}

.slide__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
  max-width: 920px;
}

.slider {
  width: 100%;
  height: 448px;
  position: relative;
}

.next {
  position: absolute;
  width: 26px;
  height: 45px;
  bottom: 140px;
  left: 112px;
  background-image: url(../../images/next.svg);
}

.prev {
  position: absolute;
  width: 26px;
  height: 45px;
  bottom: 140px;
  left: 8px;
  background-image: url(../../images/prev.svg);
  margin-left: 10px;
  cursor: pointer;
}

.prev,
.next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.prev:hover,
.next:hover {
 opacity: .8;
}

.slide {
  width: 950px;
  width: 950px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
}
