.stories {
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  background-color: var(--color-block-bg-quaternary);
  display: flex;
  flex-direction: column;
}

.stories-wrap {
  max-width: 1110px;
  margin: 0 auto;
  padding: 75px 95px;
  border-radius: 20px;
  min-height: 448px;
  background-color: #ffffff;
}

.stories__header {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 60px;
}

.img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

.slide__wrap {
  width: 760px;
  min-height: 232px;
  padding-left: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.slide__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 5px;
}

.slide__role {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #8e8e8e;
  margin-bottom: 5px;
}

.slide__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
  max-width: 920px;
}

.slider {
  width: 100%;
  height: 360px;
  position: relative;
}

.next {
  position: absolute;
  width: 26px;
  height: 45px;
  bottom: 59px;
  left: 112px;
  background-image: url(../../images/next.svg);

}

.prev {
  position: absolute;
  width: 26px;
  height: 45px;
  bottom: 58px;
  left: 8px;
  background-image: url(../../images/prev.svg);
  margin-left: 10px;
  cursor: pointer;
}

.prev, .next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  }



 .slide {
    width: 950px;
    display: flex;
    justify-content:  flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack:  flex-start;;
    -ms-flex-pack:  flex-start;;
    -webkit-justify-content:   flex-start;;
    justify-content:   flex-start;;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    position: relative;

  }

.slide-container {
  display: flex;
  flex-direction: column;
  width: 950px;
  box-sizing: border-box;
}

.slide-container_next {
  padding: 0;
}
