.share {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 80px 0 157px;
  max-width: 1110px;
  box-sizing: border-box;
  position: relative;
}

.share__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 60%;
}

.share__header {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
  z-index: 5;
}

.share__header_type_color {
  color: var(--color-text-title);
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.02em;
  z-index: 5;
}

.share__btn {
  width: 330px;
  height: 60px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  transition: opasity 0.3s ease-in-out;
  margin-top: 60px;
  cursor: pointer;
  border: none;
  background-color: var(--color-button-primary);
  color: var(--color-text-secondary);
  z-index: 5;
}

.share__btn:hover {
  opacity: 0.8;
}

.share__image {
  width: 1325px;
  height: 833px;
  z-index: 0;
  position: absolute;
  top: -29px;
  left: 213px;
}
