.roles {
  border-radius: 80px;
  padding: 70px 0 0 0;
  margin: 0 auto;
  max-width: 1110px;
}

.roles__title {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
  max-width: 750px;
  margin-bottom: 64px;
}

.roles__container {
  display: flex;
  list-style: none;
}

.role {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--color-block-bg-secondary);
  border-radius: 35px;
  min-width: 540px;
  height: 247px;
}

.role__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
  text-align: center;
  margin-bottom: 20px;
}

.role__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-text-primary);
  max-width: 239px;
  text-align: left;
}

.role__wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.role__img-cats {
  width: 182px;
  height: 131px;
}

.role__img-bricks {
  width: 154px;
  height: 134px;
}

.role__img-bricks {
  width: 154px;
  height: 134px;
}

.role__img-balloons {
  width: 159px;
  height: 138px;
}

.role__img-mountains {
  width: 246px;
  height: 91px;
}
