.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 920px;
  min-height: 1058px;
  padding: 75px 125px 75px 130px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  justify-content: space-between;
}

.form__btn_type_close {
  width: 48px;
  height: 48px;
  background-image: url(../../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 25px;
  top: 20px;
  cursor: pointer;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: 10px;
  max-width: 527px;
}

.form__telegram {
  position: absolute;
  top: 0;
  right: 45%;
  cursor: pointer;
}

.input__telegram:hover::after {
  content: "заполните, если вам будет удобнее общаться в Телеграм";
  position: absolute;
  top: 11px;
  right: 30px;
  width: 275px;
  height: 42px;
  color: #858585;
}

.form__resume:hover {
  cursor: pointer;
}

.form__resume:hover::after {
  content: "Пожалуйста, проверьте, что вы открыли доступ к документу";
  position: absolute;
  top: 14px;
  left: 299px;
  width: 275px;
  height: 42px;
  color: #858585;
}

.form__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
}

.form__input {
  height: 53px;
  border-radius: 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 23px;
  border: 1px solid #858585;
}

.form__input_name,
.form__input_text-area {
  width: 665px;
}

.form__input_faculty {
  width: 479px;
}

.form__input_telegram,
.form__input_role {
  width: 348px;
}

.form__input_email,
.form__input_tel,
.form__input_resume {
  width: 283px;
}

.form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 97% 56%;
}

.form__select::-ms-expand {
  display: none;
}

.form__btn_type_submit {
  width: 172px;
  height: 61px;
  border-radius: 100px;
  background-color: var(--color-button-primary);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.form__btn_type_submit:hover {
  opacity: 0.8;
}

.form__input_text-area {
  height: 130px;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;
  resize: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.form__input_text-area ::placeholder {
  color: #8e8e8e;
}

.form__checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 45px;
  margin: 0 0 12px 0;
}

.form__checkbox-wrap .form__checkbox {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 5;
  width: 30px;
  height: 30px;
}

.form__checkbox {
  cursor: pointer;
}

.form__checkbox-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-color);
  border: 1px solid #858585;
  border-radius: 5px;
}

.form__checkbox:hover ~ .form__checkbox-style {
  background-color: var(--color-block-bg-secondary);
}

.form__checkbox-wrap .form__checkbox:checked ~ .form__checkbox-style {
  background-color: var(--main-bg-color);
}

.form__checkbox-style:after {
  content: "";
  position: absolute;
  display: none;
  cursor: pointer;
}

.form__checkbox-wrap .form__checkbox:checked ~ .form__checkbox-style:after {
  display: block;
  cursor: pointer;
}

.form__checkbox-wrap .form__checkbox-style:after {
  left: 8px;
  top: 4px;
  width: 8px;
  height: 12px;
  border: solid var(--color-text-primary);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.form__link {
  color: var(--color-text-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .form {
    width: 337px;
    min-height: 697px;
    padding: 10px;
    overflow-x: hidden;
  }

  .form__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
  }

  .form__text {
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
    max-width: 289px;
  }

  .form__telegram {
    position: absolute;
    top: 0;
    right: 45%;
    cursor: pointer;
  }

  .input__telegram {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
  }

  .input__telegram::after {
    content: "Заполните, если вам будет удобнее общаться в Телеграм";
    position: absolute;
    top: 40px;
    right: -9px;
    width: 316px;
    height: 42px;
    color: #858585;
  }

  .input__telegram:hover::after {
    display: none;
  }

  .form__resume:hover::after {
    display: none;
  }

  .form__resume {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
  }

  .form__resume::after {
    content: "Пожалуйста, проверьте, что вы открыли доступ к резюме";
    position: absolute;
    height: 42px;
    color: #858585;
    top: 41px;
    left: 9px;
    width: 328px;
  }

  .form__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
  }

  .form__input {
    height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
  }

  .form__input_name,
  .form__input_faculty,
  .form__input_text-area,
  .form__input_role,
  .form__input_email,
  .form__input_tel,
  .form__input_telegram,
  .form__input_resume {
    width: 315px;
  }

  .form__input_email {
    margin-bottom: 10px;
  }

  .form__input_telegram,
  .form__input_resume {
    margin-bottom: 16px;
  }

  .form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../images/arrow-down.svg);
    background-size: 21px 12px;
    background-repeat: no-repeat;
    background-position: 97% 56%;
  }

  .form__select::-ms-expand {
    display: none;
  }

  .form__btn_type_submit {
    width: 246px;
    height: 50px;
    border-radius: 120px;
    font-size: 16px;
    line-height: 20px;
    align-self: center;
  }

  .form__input_text-area {
    height: 80px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 16px;
  }

  .form__checkbox-wrap {
    padding-left: 39px;
  }

  .form__link {
    font-size: 14px;
    line-height: 16px;
  }

  .form__btn_type_close {
    width: 40px;
    height: 40px;
    background-image: url(../../images/close-thin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5px;
    top: 9px;
    cursor: pointer;
  }
}
