.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 920px;
  min-height: 1058px;
  padding: 75px 125px 75px 130px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  justify-content: space-between;
}

.form__btn_type_close {
  width: 40px;
  height: 40px;
  background-image: url(../../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 25px;
  top: 20px;
}

.form__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.form__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: 10px;
  max-width: 527px;
}

.form__telegram {
  position: absolute;
  top: 0;
  right: 45%;
  cursor: pointer;
}

.form__telegram:hover::after {
  content: "заполните, если вам будет удобнее общаться в Телеграм";
  position: absolute;
  top: 0;
  left: 15px;
  width: 275px;
  height: 42px;
}

.form__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.form__input {
  height: 60px;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.form__input_size_l {
  width: 665px;
}
.form__input_size_m {
  width: 479px;
}
.form__input_size_xs {
  width: 285px;
}

.form__input_size_s {
  width: 350px;
}

.form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 97% 56%;
}

.form__select::-ms-expand {
  display: none;
}

.form__btn_type_submit {
  width:182px;
  height: 59px;
  border-radius: 100px;
  background-color: var(--color-button-secondary);
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.form__btn_type_submit:hover {
  opacity: 0.8;
}

.form__input_text-area {
  height: 130px;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;
  resize: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.form__checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 45px;
  margin:0 0 12px 0;
}

.form__checkbox-wrap .form__checkbox {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 5;
  width: 25px;
  height: 25px;
}

.form__checkbox {
  cursor: pointer;
}

.form__checkbox-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-color);
  border: 3px solid var(--color-button-secondary);
  border-radius: 5px;
}

.form__checkbox:hover ~ .form__checkbox-style {
  background-color: var( --color-block-bg-secondary)
}

.form__checkbox-wrap .form__checkbox:checked ~ .form__checkbox-style {
  background-color: var(--main-bg-color);
}

.form__checkbox-style:after {
  content: "";
  position: absolute;
  display: none;
  cursor: pointer;
}

.form__checkbox-wrap .form__checkbox:checked ~ .form__checkbox-style:after {
  display: block;
  cursor: pointer;
}

.form__checkbox-wrap .form__checkbox-style:after {
  left: 8px;
  top: 4px;
  width: 8px;
  height: 12px;
  border: solid var(--color-text-primary);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.form__link {
  color: var(--color-text-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
