.page {
  background-color: #ffffff;
  min-height: 100vh;

  /* ------------------цвет фона------------------- */

  /* общий фон */
  --main-bg-color: #ffffff;

  /* фон блока стать экспертом и шильдиков задачи ревьюера и наставника */
  --color-block-bg-primary: #e6f4ff;

  /* фон карточек в роли наставника и ревьюера */
  --color-block-bg-secondary: #f2f2f2;

  /* фон карточек вакансий */
  --color-block-bg-tertiary: #2559f6;

  /* фон карточек вакансий с зп */
  --color-block-bg-quaternary: #f8f8f8;

  /* ------------------цвет текста------------------- */

  /* цвет текста заголовка */
  --color-text-title: #2559f6;

  /* основной цвет текста */
  --color-text-primary: #000000;

  /* вспомогательный цвет текста */
  --color-text-secondary: #ffffff;

  /* третий вариант цвета текста(блок вакансии активная кнопка) */
  --color-text-tertiary: #535353;

  /* четвертый вариант цвета текста(блок вакансии неактивная кнопка) */
  --color-text-quaternary: #a3a3a3;

  /* пятый вариант цвета текста(текст кнопок навигации в хедере) */
  --color-text-fifth: rgba(0, 0, 0, 0.85);

  /* ------------------цвет кнопок------------------- */

  /* главная кнопка */
  --color-button-primary: #2559f6;

  /* кнопки */
  --color-button-secondary: #000000;

  /* активная кнопка факультетов */
  --color-button-faculty-active: #2559f6;

  /* активная кнопка вакансий */
  --color-button-vacansy-active: #535353;

  /* неактивная кнопка вакансий */
  --color-button-vacansy-inactive: #d3d3d3;

  /* кнопка подобрать вакансию в хедере */
  --color-button-header: rgba(0, 0, 0, 0.85);
}

.page__content {
  margin: 0 auto;
  font-family: "YS Text", Arial, sans-serif;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

.inactive-button {
  pointer-events: none;
}
