.footer__container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 60px 80px 70px;
  background-color: var(--color-block-bg-quaternary);
  border-radius: 120px 120px 0px 0px;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.footer__span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-text-sixth);
  margin-top: 15px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
  transition: opasity 0.3s ease-in-out;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__link-container {
  display: grid;
  grid-template-columns: 190px 1fr;
  margin-top: 52px;
  margin-bottom: 25px;
  row-gap: 30px;
}

.footer__author {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-top: 18px;
  order: 1;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-text-sixth);
}

.footer__link-in-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #858585;
  text-decoration: underline;
}

.footer__social-media {
  display: flex;
  gap: 10px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 576px) {
  .footer {
    padding: 0 20px 34px;
  }

  .footer__container {
    /* max-width: 335px; */
    padding: 35px 10px;
    border-radius: 35px;
    background-color: #eaeaea;
  }

  .footer__content {
    grid-template-columns: 1fr;
  }

  .footer__tel {
    font-size: 32px;
    line-height: 38px;
    text-align: left;
  }

  .footer__span {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__link {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__link-container {
    row-gap: 15px;
    column-gap: 40px;
    grid-template-columns: 130px 1fr;
    margin-top: 25px;
  }

  .footer__author {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__social-media-icon {
    order: 1;
    margin-left: 105px;
  }

  .footer__info {
    gap: 15px;
  }

  .footer__link-in-text {
    font-size: 14px;
    line-height: 16px;
  }

  .footer__link_type_one {
    order: 2;
  }
  .footer__link_type_two {
    order: 5;
  }
  .footer__link_type_three {
    order: 4;
  }
  .footer__link_type_four {
    order: 1;
  }
  .footer__link_type_five {
    order: 6;
  }
  .footer__link_type_six {
    order: 3;
  }
  .footer__link_type_seven {
    order: 7;
  }
}
