.footer__container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 60px 80px 70px;
  background-color: var(--color-block-bg-quaternary);
  border-radius: 120px 120px 0px 0px;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}

.footer__span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-text-sixth);
  margin-top: 15px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
  transition: opasity 0.3s ease-in-out;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__link-container {
  display: grid;
  grid-template-columns: 190px 1fr;
  margin-top: 52px;
  margin-bottom: 25px;
  row-gap: 30px;
}

.footer__author {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-top: 18px;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-text-sixth);
}

.footer__social-media {
  display: flex;
  gap: 10px;
}
