.join {
  padding: 100px 165px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.join__header {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}

.join__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.pop-up {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.pop-up__container {
  position: fixed;
  top: 16%;
}

.pop-up_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.join-btn {
  width: 419px;
  height: 38px;
  border-radius: 100px;
  background-color: #585858;
  color: white;
  border: none;
}
