.join {
  padding-top: 100px;
  box-sizing: border-box;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.join__header {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 40px;
}

.join__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  max-width: 655px;
}

.pop-up {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.pop-up__container {
  position: fixed;
  top: 16%;
}

.pop-up_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.join-btn {
  width: 306px;
  height: 59px;
  border-radius: 100px;
  background-color: var(--color-button-secondary);
  color: var(--color-text-secondary);
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  top: 47%;
  left: 0;
}

.join__img_star {
  width: 215px;
  height: 117px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.join__img__blue-arrow {
  position: absolute;
  top: 278px;
  left: 166px;
}

.join__img_programmer {
  width: 635px;
  height: 358px;
  align-self: flex-end;
  margin-top: 54px;
}
