.join {
  padding-top: 100px;
  box-sizing: border-box;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-height: 766px;
}

.join__header {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 58px;
  max-width: 559px;
}

.join__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  max-width: 460px;
  z-index: 5;
}

.pop-up {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.pop-up__container {
  position: relative;
  top: 7%;
  max-height: 500px;
  overflow-y: auto;
}

.pop-up_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.join-btn {
  width: 316px;
  height: 71px;
  border-radius: 100px;
  background-color: var(--color-button-primary);
  color: var(--color-text-secondary);
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  position: absolute;
  top: 58%;
  left: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.join-btn:hover {
  opacity: 0.8;
}

.join__img_star {
  width: 306px;
  height: 216px;
  position: absolute;
  top: 9%;
  right: -1%;
}

.join__img__blue-arrow {
  position: absolute;
  bottom: 14%;
  left: 18%;
}

.join__img_programmer {
  width: 818px;
  height: 532px;
  align-self: flex-end;
  margin-top: -13%;
  margin-right: -5%;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .join__header {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 22px;
  }

  .join__img__blue-arrow,
  .join__img_star {
    display: none;
  }

  .join__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  .join__img_programmer {
    width: 335px;
    height: 188px;
    margin-top: 35px;
    align-self: center;
  }

  .join-btn {
    width: 258px;
    height: 50px;
    position: static;
    margin-top: 50px;
  }

  .join {
    max-width: calc(100% - (20px * 2));
    align-items: center;
    padding-top: 35px;
  }
}
