.faculty {
  padding: 90px 165px 0;
}

.faculty__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  margin-left: 12px;
  margin-bottom: 35px;
}

.faculty__content {
  background-color: #f2f2f2;

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 552px;
}

.faculty__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 295px 1fr 1fr 1fr 1fr;
}

.faculty__list-item {
  background-color: #e2e2e2;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  width: 100%;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.faculty__list-item_active {
  background-color: #f2f2f2;
}

.faculty__info {
  padding: 78px 100px 20px;
  display: flex;
  justify-content: space-between;
  gap: 75px;
  position: relative;
  flex: 1 1 auto;
}

.faculty__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  max-width: 380px;
  flex: 1;
}

.faculty__courses {
  max-width: 455px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.faculty__link {
  height: 60px;
  background-color: #ffffff;
  border-radius: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  transition: opasity 0.3s ease-in-out;
}

.faculty__link_inactive {
  display: none;
}

.faculty__link:hover {
  opacity: 0.6;
}

.faculty__link_left {
  margin-right: auto;
}

.faculty__link_right {
  margin-left: auto;
  text-align: right;
}

.faculty__link-all {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 100px;
  max-width: 115px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* gap: 8px; */
  color: #000000;
  text-decoration: none;
  height: 44px;
  transition: opasity 0.3s ease-in-out;
}

.faculty__link-all:hover {
  opacity: 0.6;
}
