.faculty {
  background-color: var(--color-block-bg-quaternary);
}

.faculty__container {
  margin: 0 auto;
  padding-top: 45px;
  max-width: 1110px;
}

.faculty__title {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  padding: 10px;
}

.faculty__content {
  background-color: var(--main-bg-color);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 576px;
  padding-top: 65px;
}

.faculty__list {
  padding: 0 58px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  min-height: 65px;
}

.faculty__list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: opasity 0.3s ease-in-out;
}

.faculty__list-item:hover {
  opacity: 0.6;
}

.faculty__list-item_active {
  border-bottom: 3px solid var(--color-button-faculty-active);
  cursor: default;
}

.faculty__list-item_active:hover {
  opacity: 1;
}

.faculty__info-container {
  padding: 60px 60px 80px;
  display: flex;
  /* justify-content: space-between; */
  gap: 55px;
  /* position: relative; */
  /* flex: 1 1 auto; */
}

.faculty__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  max-width: 380px;
  flex: 1;
}

.faculty__courses {
  max-width: 455px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.faculty__link-all {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #0f3fcf;
  /* color: var(--color-text-primary); */
  /* text-decoration: none; */
  width: max-content;
  height: 44px;
  transition: opasity 0.3s ease-in-out;
}

.faculty__link-all:hover {
  opacity: 0.6;
}

.faculty__image {
  max-width: 512px;
  max-height: 316px;
  /* width: 100%; */
  /* object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
