.quiz__input {
  display: none;
}

.quiz__input:hover + label {
  border: 2px solid #2559f6;
}

.quiz__input:checked + label {
  border: 2px solid #000000;
}

.quiz__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  border: 0.5px solid #000000;
  border-radius: 12px;
  height: 48px;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

@media (max-width: 576px) {
  .quiz__label {
    padding: 10px 5px;
    height: 38px;
    font-size: 16px;
    line-height: 28px;
  }
}
