.expert {
  display: flex;
  justify-content: flex-start;
  padding: 112px 0 72px;
  margin: 0 auto;
  max-width: 1110px;
  align-items: center;
  position: relative;
}

.expert__container {
  width: 730px;
  height: 730px;
  border-radius: 35px;
  background-color: var(--color-block-bg-primary);
  padding: 70px 64px 74px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.expert__header {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.expert__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.expert__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.expert__circle {
  border-radius: 50%;
  background-color: var(--main-bg-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expert__circle {
  border-radius: 50%;
  background-color: var(--color-text-secondary);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expert__block:first-of-type::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 3px solid var(--color-text-secondary);
  width: 0;
  height: 73px;
  top: 41px;
  left: 19px;
}
.expert__block:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 3px solid var(--color-text-secondary);
  width: 0;
  height: 73px;
  top: 42px;
  left: 19px;
}

.expert__block {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.expert__wrap {
  width: 542px;
  padding-left: 5px;
  box-sizing: border-box;
}

.expert__btn {
  width: 300px;
  height: 65px;
  border-radius: 100px;
  border: none;
  background-color: var(--color-button-primary);
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  margin-left: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expert__btn:hover {
  opacity: 0.8;
}

.expert__img {
  position: absolute;
  top: 155px;
  right: -170px;
  z-index: 5;
}

@media (max-width: 576px) {
  .expert__img {
    position: relative;
    top: 0;
    right: 0;
    order: -1;
    margin: 0 auto;
    z-index: 5;
    width: 281.33px;
  }

  .expert {
    flex-direction: column;
    padding: 36px 0 51px;
  }

  .expert__container {
    max-width: 335px;
    height: fit-content;
    border-radius: 20px;
    padding: 30px 15px;
    align-items: center;
    gap: 20px;
  }
  .expert__header {
    font-size: 24px;
    line-height: 100%;
  }
  .expert__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
  .expert__subtitle {
    display: none;
  }

  .expert__wrap {
    width: fit-content;
  }

  .expert__btn {
    margin: 0 auto;
    max-width: 247px;
    height: 50px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
  .expert__wrap {
    width: fit-content;
    padding-left: 15px;
  }

  .expert__block:first-of-type::after {
    border-right: 1px solid var(--color-text-secondary);
    top: 5px;
    left: 12px;
    z-index: -1;
  }
  .expert__block:nth-of-type(2)::after {
    border-right: 1px solid var(--color-text-secondary);
    top: 5px;
    left: 12px;
    z-index: -1;
  }
  .expert__circle {
    font-size: 15px;
    line-height: 18px;
    width: 25px;
    height: 25px;
  }
  .expert__block {
    margin-bottom: 0px;
    align-items: center;
  }
  .expert__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
