.expert {
  display: flex;
  justify-content: flex-start;
  padding: 112px 0 72px;
  margin: 0 auto;
  max-width: 1110px;
  align-items: center;
  position: relative;
}

.expert__container {
  width: 730px;
  height: 730px;
  border-radius: 35px;
  background-color: var(--color-block-bg-primary);
  padding: 70px 64px 74px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.expert__header {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.expert__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

.expert__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.expert__circle {
  border-radius: 50%;
  background-color: var(--main-bg-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expert__circle {
  border-radius: 50%;
  background-color: var(--color-text-secondary);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expert__block:first-of-type::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 3px solid var(--color-text-secondary);
  width: 0;
  height: 73px;
  top: 41px;
  left: 19px;
}
.expert__block:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  border-right: 3px solid var(--color-text-secondary);
  width: 0;
  height: 73px;
  top: 42px;
  left: 19px;
}

.expert__block {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
}

.expert__wrap {
  width: 542px;
  padding-left: 5px;
  box-sizing: border-box;
}

.expert__btn {
  width: 300px;
  height: 65px;
  border-radius: 100px;
  border: none;
  background-color: var(--color-button-secondary);
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  margin-left: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expert__btn:hover {
  opacity: 0.8;
}

.expert__img {
  position: absolute;
  top: 155px;
  right: -170px;
  z-index: 5;
}
